@charset 'UTF-8';

.container{
    width: 80%;
    position: relative;
    margin: 80px auto;
}
p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: gray;
}
h2 {
	font-weight: 900;
	color: #39454b;
}

.img-container{
    height: 400px;
    width: 400px;
    background-image: url('overlay.png'), url('face.png');
    background-size: 400px;
	border-radius: 100%;
	background-repeat: repeat,no-repeat;
	background-position: center;
	position: relative;	
	margin: 0px auto;
	
}
.text-container{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 35px;
	width: 400px;
	position: float;
	text-align: center;
	margin: 0px auto;
	line-height: 13px;
	
		
}

.mouth{
    width: 400px;
	margin: 0px auto;
	bottom: 0;
	position: absolute;	
	/* -webkit-transform: -webkit-translate(6px,155px);*/
    z-index: 1;
}

.eyes{
    width: 400px;
	margin: 0px auto;
	position: absolute;
	
    /*transform: translate(2px,70px);*/
    z-index: 1;

}



